#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error {
  color: red;
}